@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 6
   Case Problem 2

   Columns Style Sheet
   Author: Augustus Gullett
   Date:   11/1

   Filename:   lht_columns.css

*/



/* Column Styles */

article {
   column-width: 260px;
   column-gap: 20px;
   column-rule: 1px solid rgb(154, 64, 31);
   widows: 2;
   orphans: 2;
}

body h1 {
   color: rgb(154, 64, 3);
   column-span: all;
}