@charset "UTF-8";
@import url(nav.css);

header {
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 2vh;
    background-color: gainsboro;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2em;
}

header i {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header i::after {
    content: "⟪ Augustus Gullett ⟫";
    color: cadetblue;
    text-shadow: 1px 1px black;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}